{% extends "base.html" %} {% block content %}
<h2>{{ note.title }}</h2>
<p>{{ note.content }}</p>

{% if note.image %}
<img src="{{ note.image.url }}" alt="{{ note.title }}" class="dp-image" />
{% endif %}

<div id="imageModal" class="modal" style="display: none;"></div>
    <span class="close" onclick="closeModal()">&times;</span>
    <img class="modal-content" id="modalImage" />
    <div id="caption"></div>
</div>

<p>Created at: {{ note.created_at }}</p>
<p>Updated at: {{ note.updated_at }}</p>

<form action="{% url 'note_check_off' note.id %}" method="post">
	{% csrf_token %} {% if user.is_authenticated %}
	<label>
		<input
			type="checkbox"
			name="is_completed"
			{%
			if
			note.is_completed
			%}checked{%
			endif
			%}
			onchange="this.form.submit();" />
		{{ note.is_completed|yesno:"Complete,Incomplete" }}
	</label>
	{% else %}
	<span class="text-muted"
		>Please <a href="{% url 'login' %}">login</a> to mark this note as
		complete.</span
	>
	{% endif %}
</form>

{% if note.due_date %}
<p>Due Date: {{ note.due_date }}</p>
{% endif %} {% if note.alarm_time %}
<p>Alarm Time: {{ note.alarm_time }}</p>
{% endif %}

<h3>Share this note:</h3>

<a href="javascript:void(0);" class="copy-url-btn" data-url="{{ get_absolute_url }}">
    Copy URL
</a>
<!-- <p>Url is {{note.build_url}}</p> -->
<span class="copy-success-message" style="display: none; color: green;">URL copied!</span>

<a href="{% url 'note_update' note.id %}">Edit</a>
<a href="{% url 'note_delete' note.id %}">Delete</a>

<script>
	document.addEventListener('DOMContentLoaded', function () {
    const copyButtons = document.querySelectorAll('.copy-url-btn');

    copyButtons.forEach(button => {
        button.addEventListener('click', function () {
            const url = this.getAttribute('data-url');
            
            navigator.clipboard.writeText(url).then(function () {
               
                const successMessage = button.nextElementSibling;
                successMessage.style.display = 'inline';
                
               
                setTimeout(() => {
                    successMessage.style.display = 'none';
                }, 3000);
            }, function (err) {
                console.error('Could not copy text: ', err);
            });
        });
    });

function openModal(imageUrl) {
    const modal = document.getElementById("imageModal");
    const modalImage = document.getElementById("modalImage");
    modal.style.display = "block";
    modalImage.src = imageUrl;
}

function closeModal() {
    const modal = document.getElementById("imageModal");
    modal.style.display = "none";
}


window.onclick = function(event) {
    const modal = document.getElementById("imageModal");
    if (event.target === modal) {
        modal.style.display = "none";
    }
}

});
</script>
{% endblock %}
